@import "tailwindcss";

h3 {
  font-weight: bold;
  font-size: 36px;
  font-family: DM Sans, sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  font-family: DM Sans, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 12px;
  font-family: DM Sans, sans-serif;
}

.bg-accent {
  background-color: var(--accent);
}
.bg-input {
  background-color: var(--input);
}
.bg-secondary {
  background-color: var(--secondary);
}

:root {
  --accent: #F29849;
  --secondary: #DEAC5D;
  --bglight: #F8F8FC;
  --darktext: #101012;
  --input: #FFFFFF;
  --container: #D9D9D9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
